.recepie-container {
  display: grid;
  column-gap: 5rem;
  row-gap: 4rem;
  grid-template-areas:
    "title title "
    "image details";
  grid-template-rows: 8rem 1fr;
  grid-template-columns: clamp(10rem, 40vw, 60rem) 1fr;

  height: 100%;
  width: 100%;
  padding: 2rem clamp(1rem, 5vw, 5rem) 0;
  box-sizing: border-box;

  overflow: auto;

  color: var(--color-text);

  h1 {
    font-size: 5rem;
  }

  font-size: 2rem;

  .title {
    grid-area: title;
  }

  .cocktail-image {
    grid-area: image;
    aspect-ratio: 1 / 1;
    width: clamp(22rem, 40vw, 60rem);
    object-fit: cover;
    box-sizing: border-box;
    border: 4px solid var(--swiper-theme);
    border-radius: 5rem;
  }

  .cocktail-name {
    grid-area: name;
  }

  .cocktail-details {
    grid-area: details;
  }
  .cocktail-instructions-content {
    p {
      font-size: 1.8rem;
    }
  }
}

@media (max-width: 559px) {
  .recepie-container {
    grid-template-areas:
      "title"
      "image"
      "details";
    grid-template-rows: 6rem 22rem auto;
    grid-template-columns: 1fr;
    row-gap: 2rem;

    h1 {
      font-size: 4rem;
    }

    font-size: 1.8rem;

    .cocktail-image {
      border-radius: 3rem;
    }
  }
}
