.home-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
}

#serach-input {
  font-size: 2rem;
}

label[for="serach-input"] {
  font-size: 1.8rem;
}
